<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Callback</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
        $(document).ready(function(){
            var msg;
            $("#submit").click(function(){
            msg=$("#message").val();
            $.post("http://localhost:3000/addmsg",{message: msg}, function(data){
                if(data==='done'){
                  $('#alert_placeholder1').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a><span>Message Added</span></div>');
                  window.location.reload();
                }
            });
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            var num;
            $("#numsub").click(function(){
            num=$("#number").val();
            name=$("#name").val();
            $.post("http://localhost:3000/addnum",{number: num, name: name}, function(data){
                if(data==='done')
                {
                  $('#alert_placeholder2').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a><span>Number Added</span></div>');
                  window.location.reload();
                }
            });
            });
        });
    </script>
    <script>
      $(document).ready(function(){
          $("#start").click(function(){
            $.get( "http://localhost:3000/start", function( data ) {});
             window.location.reload();
          })
      });
    </script>
</head>
<body style="background: #A7A9AB">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active">
              <a href="">Main Page</a>
            </li>
            <li class="">
              <a href="/login">Login</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="about.html">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-group well">
            {{#each message}}
            <li class="list-group-item">{{{this}}}</li>
            {{/each}}
          </ul>
          <div class="form-group">
            <label for="comment">Message:</label>
            <textarea class="form-control" rows="5" id="message"></textarea>
            <button type="button" class="btn btn-primary btn-md pull-right" id="submit">Add Msg</button>
            <div id = "alert_placeholder1"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="form-group">
              <label for="comment">Phone Number Ex: 5095551234</label>
              <textarea class="form-control" rows="1" id="number"></textarea>
              <label for="comment">Name Ex: John D</label>
              <textarea class="form-control" rows="1" id="name"></textarea>
              <button type="button" class="btn btn-primary btn-md pull-right" id="numsub">Add Number</button>
              <div id = "alert_placeholder2"></div>
            </div>
          </div>
          <div class="row" style="padding-top: 10px">
            <ul class="list-group well col-lg-12">
              {{#each number}}
              <li class="list-group-item col-lg-6">{{@key}}</li>
              <li class="list-group-item col-lg-6">{{this}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        {{#if started}}
        <button type="button" class="btn btn-success btn-lg center-block" id="start">Start</button>
        {{else}}
        <button type="button" class="btn btn-danger btn-lg center-block" id="start">Start</button>
        {{/if}}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
