<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Callback</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>
        $(document).ready(function(){
            var secret;
            var token;
            $("#activate").click(function(){
            secret=$("#secret").val();
            token=$("#token").val();
            number=$("#number").val();
            $.post("http://localhost:3000/activate",{token: token, secret: secret, number: number}, function(data){
                if(data==='done'){
                    $('#alert_placeholder').html('<div class="alert alert-success"><a class="close" data-dismiss="alert">x</a><span>Config Saved</span></div>');
                    window.location.reload();
                }
            });
            });
        });
    </script>
</head>
<body style="background: #A7A9AB">
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="">
              <a href="/">Main Page</a>
            </li>
            <li class="active">
                <a href="">Login</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="about.html">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <label>Twilio Secret: {{secret}}</label>
        <div></div>
        <label>Twilio Token: {{token}}</label>
        <div></div>
        <label>Twilio Number: {{number}}</label>
        <div></div>
        <div class="form-group">
            <label for="secret">Twilio Secret</label>
            <textarea class="form-control" rows="1" id="secret"></textarea>
            <label for="token">Twilio Token</label>
            <textarea class="form-control" rows="1" id="token"></textarea>
            <label for="token">Twilio Number</label>
            <textarea class="form-control" rows="1" id="number"></textarea>
            <button type="button" class="btn btn-primary btn-md pull-right" id="activate">Activate</button>
        </div>
        <div id = "alert_placeholder"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
